* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	background-color: #f0f0f0;
}

section {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(135deg, #00bcd4, #ff4081);
}

header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 30px;
	position: fixed;
	z-index: 999;
	background: rgba(255, 255, 255, 0.15);
	border-radius: 30px;
	box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(20px);
}

.butt {
	border: none;
	background: #ff4081;
	padding: 12px 40px;
	border-radius: 40px;
	font-size: 16px;
	font-weight: bold;
	color: white;
	transition: 0.3s;
}

.butt:hover {
	transform: translateY(-2px);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.butt a {
	text-decoration: none;
	color: white;
}

.butt a:hover {
	text-decoration: underline;
	color: #ffd700;
}

.logo {
	color: white;
	font-size: 32px;
}

.logo_l {
	color: red;
}

.logo a {
	text-decoration: none;
	color: white;
}

.logo a:hover {
	color: #ffd700;
}

/* -------- Hero Section ------------ */
/* Animation Keyframes */
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.hero {
	height: 100vh;
	width: 100%;
	z-index: 999;
	position: fixed;
	overflow: hidden;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 10px;
	padding-left: 2%;
	padding-right: 2%;
	background-color: transparent;
	transition: background-color 0.3s;
}

.nav.scrolled {
	background-color: black;
}

.nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 10px 20px;
	animation: fadeIn 0.5s ease-in-out;
}

.nav ul li a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	transition: color 0.2s;
}

.nav ul li a:hover {
	color: tomato;
}

.desktop-contact {
	display: block;
}

.nav ul li.mobile-contact {
	display: none;
}

/* Media Query for Tablets and Smaller Screens */
@media (max-width: 768px) {
	.nav {
		flex-direction: column;
		align-items: center;
		padding-top: 0;
	}

	.nav ul {
		margin-bottom: 0px;
	}

	.nav ul li {
		padding: 5px 10px;
		animation: fadeIn 0.5s ease-in-out;
	}

	.desktop-contact {
		display: none;
	}

	.nav ul li.mobile-contact {
		display: inline-block;
	}
}

#home {
	background-image: url('../img/man.jpg') !important;
	background-color: #9788;
	background-size: cover;
	background-position: center;
}

.home_cont {
	padding: 18vh 5vw;
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

.home_left {
	height: 25vh;
	width: 100%;
	padding: 4vh;
	z-index: 99;
	box-sizing: border-box;
}

.home_left h3 {
	color: white;
	font-size: 2.5rem;
	text-align: center;
	animation: fadeIn 0.8s ease-in-out;
}

.home_slogan {
	font-size: 12px;
	color: white;
	text-align: center;
	animation: fadeIn 1s ease-in-out;
}

.home_right {
	height: 65vh;
	width: 100%;
	animation: fadeIn 1.2s ease-in-out;
}

.home_hire {
	color: white;
	border: 4px solid white;
	padding: 2vh 4vh;
	background: red;
	float: left;
	margin-top: 1rem;
	cursor: pointer;
	transition: background-color 0.3s;
}

.home_hire:hover {
	background-color: #ff4081;
}

.home_right {
	padding-top: 10vh;
	text-align: center;
	z-index: 99;
}

/* Media Query for Tablets and Smaller Screens */
@media screen and (max-width: 768px) {
	.home_cont {
		padding: 10vh 3vw;
		padding-top: 25vh;
	}

	.home_left {
		height: auto;
	}

	.home_left h3 {
		font-size: 2rem;
	}

	.home_right {
		padding-top: 15vh;
	}
}

/* ------- Contact Section --------------- */
/* Animation Keyframes */
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

#contact {
	background-image: url("../img/contact-me.jpg") !important;
	background-size: cover;
	background-position: center;
	position: relative;
}

.contain {
	height: 100vh;
	width: 100%;
	position: relative;
	display: flex;
	padding: 10vh 15vh;
	flex-direction: row;
	align-items: center;
}

.c_left {
	height: 70vh;
	width: 50%;
	padding: 4vh;
	animation: fadeIn 1s ease-in-out;
	display: flex;
	flex-wrap: wrap;
	background: #ECEFF1;
	border-radius: 20px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.c_left_text {
	width: 100%;
	color: #263238;
	font-family: 'Open Sans', sans-serif;
}

.c_left_text h5 {
	color: #1976D2;
}

.c_left_text p {
	margin-top: 10px;
	text-align: justify;
	color: #546E7A;
}

.c_left_social {
	height: 120px;
	width: 100%;
	z-index: 99;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: gray;
	padding: 10px;
	border-radius: 10px;;
}

.c_left_social p {
	color: #fff;
	font-size: 14px;
	text-align: center;
}

.c_right {
	height: 70vh;
	width: 50%;
	z-index: 99;
	padding: 4vh;
	background: #ECEFF1;
	border-radius: 20px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
	animation: fadeIn 1s ease-in-out;
}

.c_right_label {
	color: #1976D2;
	font-family: 'Open Sans', sans-serif;
}

.comment {
	height: 300px;
	width: 100%;
	border: 1px solid #CFD8DC;
	border-radius: 10px;
	padding: 10px;
	box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

/* Media Query for Tablets and Smaller Screens */
@media (max-width: 768px) {
	#contact { height: auto; }
	.contain {
		padding: 10vh 5vw;
		flex-direction: column;
		height: auto;
	}

	.c_left,
	.c_right {
		width: 100%;
		margin-bottom: 20px;
	}
	.c_left {
		height: 45vh;
	}
	.c_right {
		height: 65vh;
	}
}

/* ------ End Contact Section ------------ */

/*   start of portfolio */
/* Animation Keyframes */
@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translateX(-20px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translateX(20px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

#portfolio {
	/*background-image: url("../img/port.jpg") !important;*/
	/*background-size: cover;*/
	/*background-position: center;*/
	/*background-color: #FFE082;*/
	height: auto;
}

.port_cont {
	position: relative;
	display: flex;
	padding: 10vh 10vw;
	align-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
}

.port_cont p {
	color: #BCBCBA;
}

.port_img {
	z-index: 99;
}

.port_img img {
	height: 30vh;
	width: 100%;
	margin-bottom: 10px;
	padding: 2vh;
	padding-bottom: 0px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	animation: fadeInLeft 1s ease-in-out;
}

.port_img a {
	border: 1px solid rgba(255, 255, 255, 0.3);
	text-decoration: none;
	padding: 7px 12px;
	border-radius: 4px;
	margin-left: 20px;
	color: white;
	background: #5C6BC0;
	transition: background-color 0.3s, color 0.3s;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.port_img a:hover {
	background: #EF9A9A;
	color: black;
	text-decoration: none;
}

.port_img p {
	padding: 20px;
	color: #FFF;
}

.port_1,
.port_2,
.port_3 {
	border-radius: 10px;
	margin: 0 8px;
	width: 30%;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
	animation: fadeInRight 1s ease-in-out;
}

.port_1 {
	background: #3949AB;
	border: 1px solid rgba(255, 255, 255, 0.3);
	height: 65vh;
	position: relative;
}

.port_2 {
	background: #3949AB;
	border: 1px solid rgba(255, 255, 255, 0.3);
	height: 65vh;
}

.port_3 {
	background: #3949AB;
	border: 1px solid rgba(255, 255, 255, 0.3);
	height: 65vh;
}

/* Media Query for Tablets and Smaller Screens */
@media screen and (max-width: 768px) {
	#portfolio {
		height: auto;
	}
	.port_cont {
		padding: 10vh 5vw;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		align-content: space-between;
	}

	.port_1,
	.port_2,
	.port_3 {
		width: 100%;
		margin-right: 0;
		height: 45vh;
		margin-bottom: 5px;
	}

	.port_img img {
		max-height: 18vh;
		padding: 2vh;
	}

	.port_img a {
		margin-left: 10px;
	}
}


/*  end of portfolio  */

/*  start of education   */
#education {
	/*background-image: url("../img/ai.jpg") !important;*/
	/*background-repeat: no-repeat;*/
	/*background: #999;*/
	background-size: cover;
}

.edu_container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding: 10vh 15vh;
	justify-content: space-between;
}

.edu_cont_1 {
	height: 65vh;
	width: 50%;
	justify-content: center;
	z-index: 999;
	text-align: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
	animation: fadeInUp 1s ease-in-out;
}

.edu_buttons button {
	width: 25%;
	float: left;
	outline: none;
	border: none;
	cursor: pointer;
	padding: 10px;
	background: #999;
	color: white;
	border-radius: 10px;
	transition: background-color 0.3s, color 0.3s;
}

.edu_buttons button:hover {
	background: #ffffff33;
	color: tomato;
	transition: 0.2s;
}

.edu_tabpanel {
	height: 64vh;
	background: #666;
	color: white;
	text-align: center;
	padding-top: 105px;
	box-sizing: border-box;
	display: none;
	border-radius: 20px;
	animation: fadeInUp 1s ease-in-out;
}

.edu_cont_2 {
	height: 64vh;
	width: 45%;
	background: #333;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 20px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
	animation: fadeInUp 1s ease-in-out;
}

.a_link {
	padding: 6vh 6vh;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
	animation: fadeInUp 1s ease-in-out;
}

.a_link:hover {
	background: #999;
	transition: background-color 0.5s;
}

.a_link a {
	color: white;
	text-decoration: none;
	text-shadow: 2px 2px 4px #555;
}

.a_link a:hover {
	text-decoration: underline;
}

/* ----------------- for skills progress bar ------------- */
.skills {
	display: flex;
	flex-wrap: wrap;
	padding: 4vh 6vh;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 20px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
	animation: fadeInUp 1s ease-in-out;
}

.skills h6 {
	padding-bottom: 5px;
	letter-spacing: 4px;
	color: #BCBCBA;
}

.bio-bar {
	height: 5px;
	width: 100%;
	background-color: #999;
	margin-bottom: 4vh;
	border-radius: 10px;
}

.bio-bar div {
	width: 0%;
	height: 5px;
	background-color: #444;
	border-radius: 10px;
}


.photo {
	animation: photo 1s linear forwards;
}

.video {
	animation: video 1s linear forwards;
}

.cinema {
	animation: cinema 1s linear forwards;
}

.write {
	animation: write 1s linear forwards;
}

.direct {
	animation: direct 1s linear forwards;
}

@keyframes photo {
	100% {
		width: 85%;
	}
}

@keyframes video {
	100% {
		width: 67%;
	}
}

@keyframes cinema {
	100% {
		width: 73%;
	}
}

@keyframes write {
	100% {
		width: 57%;
	}
}

@keyframes direct {
	100% {
		width: 95%;
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes progressWidth {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}

/* Media Query for Tablets and smaller Screens */
@media screen and (max-width: 768px) {

	.edu_container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 5vh 5vw;
	}

	.edu_cont_1 {
		height: 35vh;
		width: 100%;
		margin-bottom: 10px;
	}

	.edu_buttons button {
		width: 25%;
		margin-bottom: 10px;
	}

	.edu_tabpanel {
		height: 35vh;
		padding: 5vh 0;
	}

	.edu_cont_2 {
		width: 100%;
		margin-top: 0;
		height: 50vh;
	}
}


/*  end of education   */


/*  start of About    */
/* Animation Keyframes */
@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

#about {
	/*background-image: url("../img/dark-blue-about.jpg") !important;*/
	/*background-color: tomato;*/
	background-size: cover;
	background-position: center;
	height: auto;
}

.about_container {
	padding: 10vh 5vw;
	display: flex;
	flex-direction: column;
	height: auto;
}

.about_1 {
	background: #333;
	border: 1px solid rgba(255, 255, 255, 0.3);
	height: auto;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5vw;
	margin-bottom: 2vh;
	animation: slideIn 0.8s ease-in-out;
}

.about_2 {
	background: #333;
	border: 1px solid rgba(255, 255, 255, 0.3);
	height: auto;
	width: 100%;
	padding: 5vw;
	text-align: justify;
	color: #BCBCBA;
	animation: slideIn 0.8s ease-in-out;
}

.it_means {
	width: 100%;
	text-align: center;
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.f_qoute {
	font-size: 24px;
	color: tomato;
	animation: slideIn 1s ease-in-out;
}

.s_qoute {
	font-size: 18px;
	color: tomato;
	animation: slideIn 1s ease-in-out;
}

.it_means p {
	text-align: center;
	color: #BCBCBA;
	animation: slideIn 1.2s ease-in-out;
}

/* Media Query for Tablets and Larger Screens */
@media (min-width: 768px) {
	.about_container {
		flex-direction: row;
		align-items: stretch;
	}

	.about_1 {
		width: 50%;
		padding: 5vh;
		margin-bottom: 0;
	}

	.about_2 {
		width: 50%;
		padding: 5vh;
	}

	.it_means {
		width: 60%;
		margin-top: 0;
		margin-bottom: 0;
	}

	.f_qoute {
		font-size: 28px;
	}

	.s_qoute {
		font-size: 22px;
	}
}

/*  end of About    */